

.page-title{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
 
    h2{
        border-radius: 4px;
        background-color: #303030;
        letter-spacing: 0.4rem;
        padding: 0.5em 1.5em;
    }
}

#type-card-container{
    margin-top: 4rem;
}

.type-card{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.sub-title{
    h5{
        border-radius: 3px;
        text-align: center;
        display: inline-block;
        background-color: #3E3E3E;
        letter-spacing: 0.2rem;
        padding: 0.5em 1.5em;
    }
}

.sub-image{
    border: 0.3rem solid white;
    border-color: white;
    width: 100%;
    height: 10rem;
    box-sizing: border-box;
    overflow: hidden;
    .sub-image-control{
        width: 100%;
    }
}
