:root {
  --primary-color: #222222;
  --font-main: 'Raleway', sans-serif;
}

@font-face {
    font-family: 'Raleway Thin';
    src: url(/font/Raleway-Thin.ttf);
}
@font-face {
    font-family: 'Raleway Regular';
    src: url(/font/Raleway-Regular.ttf);
}
@font-face {
    font-family: 'Raleway Medium';
    src: url(/font/Raleway-Medium.ttf);
}
@font-face {
    font-family: 'Raleway Heavy';
    src: url(/font/Raleway-Bold.ttf);
}

body{
    background-color: #EAEAEA;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5{
    margin: 0;
    font-family: 'Raleway Regular';
    -webkit-text-fill-color: rgb(255, 255, 255);
}

button{
    font-family: 'Raleway Heavy';
}

h1{
    font-size: 1.5rem;
}

h2{
    font-size: 1.25rem;
}

h3{
    font-size: 1.125rem;
}

h4{
    font-size: 1rem;
}

h5{
    font-size: 0.875rem;
}

body{
    margin: 0;
    padding: 2rem;
}

.page-title{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
 
    h2{
        background-color: #303030;
        letter-spacing: 0.4rem;
        padding: 0.5em 1.5em;
    }
}

#type-card-container{
    margin-top: 4rem;
}

.type-card{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.sub-title{
    h5{
        text-align: center;
        display: inline-block;
        background-color: #3E3E3E;
        letter-spacing: 0.2rem;
        padding: 0.5em 1.5em;
    }
}

.sub-image{
    border: 0.3rem solid white;
    border-color: white;
    width: 100%;
    height: 6rem;
    box-sizing: border-box;
    overflow: hidden;
    .sub-image-control{
        width: 100%;
    }
}
