:root {
  --primary-color: #222222;
  --font-main: 'Raleway', sans-serif;
}

@font-face {
    font-family: 'Alo Bold';
    src: url(../font/Aloevera/Aloevera-Bold.otf);
}
@font-face {
    font-family: 'Alo Medium';
    src: url(../font/Aloevera/Aloevera-Medium.otf);
}
@font-face {
    font-family: 'Alo Regular';
    src: url(../font/Aloevera/Aloevera-Regular.otf);
}
@font-face {
    font-family: 'Alo Thin';
    src: url(../font/Aloevera/Aloevera-Thin.otf);
}

body{
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5{
    margin: 0;
    font-family: 'Alo Regular';
    -webkit-text-fill-color: rgb(255, 255, 255);
}

button{
    font-family: 'Alo Regular';
}

h1{
    font-size: 1.5rem;
}

h2{
    font-size: 1.25rem;
}

h3{
    font-size: 1.125rem;
}

h4{
    font-size: 1rem;
}

h5{
    font-size: 0.875rem;
}

body{
    margin: 0;
    padding: 2rem;
}