@font-face {
    font-family: 'Alo Bold';
    src: url(font/Aloevera/Aloevera-Bold.otf);
}
@font-face {
    font-family: 'Alo Medium';
    src: url(font/Aloevera/Aloevera-Medium.otf);
}
@font-face {
    font-family: 'Alo Regular';
    src: url(font/Aloevera/Aloevera-Regular.otf);
}
@font-face {
    font-family: 'Alo Thin';
    src: url(font/Aloevera/Aloevera-Thin.otf);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Alo Regular', sans-serif;
    -webkit-text-fill-color: white;
}

body{
    background-image: url(image/newLandingPage/Background\ Image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.group-content{
    background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0.7), rgba(0,0,0,0));
}

.content{
    text-align: start;
    box-sizing: border-box;
    height: 85vh;
    padding: 40px 60px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content h1{
    font-size: 2.6rem;
    font-family: 'Alo Bold';
}
.content p{
    font-size: 1.1rem;
    font-family: 'Alo Thin';
    -webkit-text-fill-color: #cccccc;
}

.content2{
    padding-bottom: 3rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15vh;
}

button{
    height: 2.2rem;
    width: 70vw;
    background-color: white;
    border: none;
    outline: 2px solid rgb(255, 255, 255);  
    outline-offset: 2px;       
    border-radius: 1rem;
    
    font-size: 1.1rem;
    font-family: 'Alo Bold';
    -webkit-text-fill-color: black;
}

button:active {
    transform: scale(1.1);
    transition: transform 0.1s ease-out;
}

@media screen and (min-width: 441px) {
    body{
        background-image: url(image/newLandingPage/secondPicture.png);
    }

    .content{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30vh;
        height: 50vh;
    }
    
    .content2{
        height: 50vh;
        padding-bottom: 30vh;
    }

    button{
        width: 30vh;
    }
}